<div class="bg-white">
    <div class="wave wave-down w-full text-coolGray-900">
        <img src="/wave-up.svg" class="w-full" />
    </div>

    <div
        class="container max-w-screen-xl mx-auto px-4 py-28 relative"
    >
        <div
            class="flex items-center gap-20 absolute top-0 justify-center"
        >
            <h3 class="text-4xl font-bold text-neutral-800">
                Experience
            </h3>
            <div class="text-secondary text-sm text-neutral-800">
                Previous and current clients/employers!
            </div>
        </div>
        <div
            class="logos flex justify-center px-20 py-12 gap-10 flex-wrap"
        >
            <img class="logo" src="/logos/kroger.svg" />
            <img class="logo" src="/logos/cas.svg" />
            <img class="logo" src="/logos/thoughtworks.svg" />
            <img class="logo" src="/logos/chase.svg" />
            <img class="logo" src="/logos/g2o.svg" />
            
            <img class="logo" src="/logos/gentis.svg" />
            <img class="logo" src="/logos/pinnacle.svg" />
            <img class="logo" src="/logos/dova.svg" />
            <img class="logo" src="/logos/ohio-state.svg" />
            <img class="logo" src="/logos/bofa.svg" />
        </div>
    </div>
    <div class="wave wave-down w-full text-coolGray-900">
        <img src="/down-wave.svg" class="w-full" />
    </div>
</div>