<footer class="footer">
    <div class="h-96 container max-w-screen-xl mx-auto px-4">
        <div
            class="flex justify-between items-center w-full text-blue-50 my-8 h-80"
        >
            <h1 class="text-xl">
                <span class="font-bold">Ahmed</span>Ahmed
            </h1>
            <nav class="flex gap-4">
                <a href="#">About</a>
                <a href="#">BLog</a>
                <a href="#">Career</a>
            </nav>
        </div>
        <div class="w-full text-xs">
            © {new Date().getFullYear()} All Rights Reserved
        </div>
    </div>
</footer>

<style>
    .footer{
        background: #2d2e32;
        margin-top: -100px;

    }
</style>