---
---
<header class="flex justify-between h-32 w-full text-blue-50 my-8">
    <div class="logo flex">
        <h1 class="text-xl">
            <span class="font-bold">Ahmed</span>Ahmed
        </h1>
    </div>
    <nav class="flex gap-4">
        <a href="#">BLog</a>
        <a href="#">About</a>
    </nav>
</header>