---

---

<section class="hero flex flex-col md:flex-row justify-between">
    <div class="flex flex-col w-full md:w-4/12 justify-start items-start mb-16">
        <div class="flex flex-col  md:flex-row gap-4 whitespace-nowrap mb-8">
            <div class="px-4 py-1 bg-green-600 text-white rounded code">
                Full-Stack developer
            </div>
            <div class="px-4 py-1 bg-blue-200 text-gray-700 rounded code">
                Front-end Passion
            </div>
        </div>
        <div class="mx-2 md:mx-0">
            <h2 class="mb-4 text-5xl font-bold">I speak javascript</h2>
            <div class="mb-8 code">
                I bring energy, creativity, and passion to every project I
                tackle! I've got a positive attitude, a can-do mentality, and a
                strong work ethic. Plus, I love learning and trying new things,
                so I'm always up for a challenge.
                {/*and a focus on user*/}
                {/*experience to every project I work on*/}
            </div>
            <div class="mb-8">
                <a
                    href="#"
                    class="text-green-300 underline code font-bold text-xl"
                    >Let's Chat</a
                >
            </div>
            <div class="flex">
                <span class="font-bold text-5xl mr-2">20</span>
                <span class="mr-12 text-secondary text-sm"
                    >Years of experience</span
                >
                <span class="font-bold text-5xl mr-2">90</span>
                <span class="text-secondary text-sm"
                    >projects completed in 6 countries</span
                >
            </div>
        </div>
    </div>
    <div class="flex cartoon w-full md:w-6/12">
        <img src="/cartoon.svg" alt="" class="w-full mt-0 md:-mt-32" />
    </div>
</section>
